.home-link {
    font-family: 'Roboto', sans-serif;
    color: #010912;
    font-size: 14px;
    position: absolute;
    top: 20%;
    left: 25%;
}

.home-link:hover {
    color: #d8a4a3;
    text-decoration: underline;
}