body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.my-page {
    width: 100%;
    padding: 20px 0;
}

.my-page > .content-container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.my-page h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
}

.my-page label {
    font-size: 16px;
    color: #444;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
}

.my-page input,
.my-page select,
.my-page textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    transition: border 0.3s ease-in-out;
}

.my-page input:focus,
.my-page select:focus,
.my-page textarea:focus {
    border-color: #704948;
    outline: none;
}

.my-page .input-container {
    margin-bottom: 10px;
}

.my-page .image-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}

.my-page button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #b28281;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
}

.my-page button:hover {
    background-color: #704948;
}

.profile-card {
    display: flex;
    border-radius: 4px;
    box-shadow: 6px 10px 18px 0 rgba(0, 0, 0, 0.3);
    flex-basis: 200px;
    background-color: #ededed;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 20px;
    min-height: 400px;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.inner-profiles-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 100%;
    min-height: 600px;
    flex-wrap: wrap;
    gap: 40px;
    margin: 50px 50px;
    background-color: #FFFCF8;
}

.favorites-container {
    margin-top: 30px;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.favorites-container h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.favorites-container ul {
    list-style: none;
    padding: 0;
}

.favorites-container li {
    font-size: 16px;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.favorites-container li:last-child {
    border-bottom: none;
}

.recipe-link {
    text-decoration: none;
    color: #ff6600;
    transition: color 0.3s ease-in-out;
}

.recipe-link:hover {
    color: #cc4400;
    text-decoration: underline;
}