/*gebruikt overige css van topmenu*/

/*linkmenu rechtsboven*/
.linkmenu2-top {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    color: #201817;
    text-transform: uppercase;
    flex-basis: 300px;
    margin-left: auto;
}


