/*.profile-img {*/
/*    height: 400px;*/
/*}*/

/*h6 {*/
/*    text-decoration: solid;*/
/*     font-size: 22px;*/
/*}*/

.profile-img {
    height: 400px;
}

h6 {
    text-decoration: solid;
    font-size: 22px;
}

