/*loading animatie hartje*/
.heart {
    width: 50px;
    height: 50px;
    background-color: #d31d1d;
    clip-path: polygon(50% 0%, 0% 35%, 50% 100%, 100% 35%);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: pulse 1s infinite;
    z-index: 9999;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #f3f3f3;
    border-top: 4px solid #d31d1d;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    z-index: 9998;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    font-size: 20px;
    text-align: center;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    color: #d31d1d;
    font-weight: bold;
    z-index: 9997;
}