/*flex outer-page-container hele pagina*/
.outer-page-container {
    display: flex;
    flex-direction: row;
    background-color: #FFFCF8;
    flex-basis: 100%;
    }

/*flex inner-container hele pagina*/
.inner-page-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    min-height: 600px;
    background-color: #FFFCF8;
    /*margin: 0 30px 0 30px;*/
}

.content {
    margin-top: 50px;
    background-color: #FFFCF8;
}

/*profielkaartjes op pagina's profielen, mijn profiel en subprofiel*/
.profile-card {
    display: flex;
    border-radius: 4px;
    box-shadow: 6px 10px 18px 0 rgba(0, 0, 0, 0.3);
    flex-basis: 200px;
    background-color: #ededed;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 20px;
    min-height: 400px;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.inner-profiles-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 100%;
    min-height: 600px;
    flex-wrap: wrap;
    gap: 40px;
    margin: 50px 50px;
    background-color: #FFFCF8;

}

/*tekst op de pagina's*/
.text {
    margin: 20px;
}

/*Superdate logo*/
h2 {
    font-family: 'Ebrima', 'Verdana', serif;
    font-size: 25px;
    line-height: 115px;
    color: #000000;
    text-transform: uppercase;
}

/*Wordt gebruikt als kop op de inlog- en aanmeldpagina en op subprofiel*/
h3 {
    font-family: 'Ebrima', 'Verdana', serif;
    font-size: 20px;
    line-height: 115px;
    color: #000000;
    text-transform: uppercase;
}

/*wordt gebruikt in de footer pagina's' (about, algvw, contact)*/
h4 {
    font-size: 25px;
    margin: 20px;
}

/*wordt gebruikt in de footer pagina's' en in signup en signin (about, algvw, contact)*/
.pages {
    margin: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

/*wordt gebruikt in de footer pagina's' en in signup en signin, contact*/
.form-container {
    margin: 3%;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    min-width: 44%;
    min-height: 600px;
    background-color: #FFFCF8;
}

.picture-container {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    min-width: 50%;
    min-height: 600px;
    background-color: #FFFCF8;
    opacity:40%;

}
/*wordt gebruikt in de footer pagina's' (about, algvw, contact) en in signin*/
.text {
    display: flex;
    flex-direction: column;
    margin: 25px;
    justify-content: flex-start;
}

label {
    margin: 5px;
}

/*zorgt ervoor dat de plaatjes op de website loskomen van de ondergrond als je eroverheen hovert*/
.profile-card:hover, .form-container:hover, .picture-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*!*Responsive*!*/
/*.container {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
/*    gap: 20px;*/
/*}*/